html {
    font-size: 100%; /*16px*/
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/* img {
    width: 100%;
    max-width: 100%;
} */

body {
    font-family: 'Biryani', sans-serif;
    line-height: 1.2;
    color: #000;
    max-width: 60rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    margin-left: auto;
    margin-right: auto;
}

header {
    padding: 3.75rem 1.25rem;
    text-align: center;
}

section {
    margin-bottom: 3.75rem;
}

.menu {
    background-color: #f8cede;
    width: 25rem;
    position: fixed;
    top: 0;left: 0;
    height: 100%;
    transform: translateX(-100%);
    transition: transform 0.5s ease;
    z-index: 5;
}

nav {
    position: absolute;
    left: 4rem;
    top: 50%;
    transform: translateY(-50%);
}

nav a {
    color: #000;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    display: block;
    margin-bottom: 0.6rem;
}

section img {
    width: 100%;
    max-width: 100%;
    display: block;
}

.menu-toggle {
    position: fixed;
    top: 1rem;
    left: 1rem;
    z-index: 10;
}

.hero {
    padding-right: 16.25rem;
    position: relative;
}

.hero h2 {
    font-size: 4rem;
    line-height: 1.125;
    font-weight: 700;
}

.hero .copy {
    position: absolute;
    right: 0;
    top: 50%;
    width: 22.5rem;
    transform: translateY(-50%);
}

.hero:hover h2 {
    transform: scale(1.15);
}

.hero:hover img {
    transform: rotate(-3deg);
}

.hero h2, .hero img {
    transition: transform 0.5s ease;
}

.first-part {
    padding-left: 22.5rem;
    position: relative;
}

.first-part .copy {
    position: absolute;
    top: 3.2rem;
    left: 0;
    width: 30rem;
}

.first-part h3 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1.25rem;
}

.first-part p {
    font-size: 2rem;
    font-weight: 200;
}

.first-part .copy, .first-part img {
    transition: transform 0.5s ease;
}

.first-part:hover .copy {
    transform: scale(1.1) translateX(1.25rem);
}

.first-part:hover img {
    transform: rotate(6deg);
}

.second-part {
    background-image: url(./assets/image_3.jpg);
    background-position: center;
    background-size: cover;
    padding: 13.75rem 1.25rem 11.25rem 1.25rem;
    text-align: center;
}

.second-part h2 {
    font-size: 4rem;
    font-weight: 700;
    color: #fff;
    transition: all 0.5s ease;
}

.second-part:hover h2 {
    transform: scale(0.8);
    color: rgba(255, 255, 255, 0.8);
}